
body {
    padding: 0px;
    margin: 0px;
}

h1 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    font : 30px normal Arial;
    color: white;
}

div.frame {
    width: 400px;
    height: 350px;
    background-color: rgb(157, 212, 212);
    margin: auto;
    margin-top: auto;
    border-radius: 20px;
}

.imagem {
    width: 200px;
    height: 200px;
    border-radius: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 5px;
}